.editable-area {
    width: 100%;
    height: 1000px;
    background-color: black;
    color: white;
    margin: 0px;
    border: 1px dotted rgb(0, 0, 0);
    /*for adjacent to the window edge like: http://www.editpad.org/ */
    margin-left: -7px;
    margin-right: -7px;
}
